h1     {
    font-family: 'Lucida Console';
    color: #C20000;
}

body {
    font-family: 'Lucida Console';
text-align: center;

}

header {
    text-align: center;
    font-family: 'Lucida Console';
}