h1     {
    font-family: "Lucida Console", monospace;
    color: #C20000;
}

body {
    font-family: "Lucida Console", monospace;
    text-align: center;
    background-image: "images/starry_2005.gif";

}

header {
    text-align: center;
    font-family: "Lucida Console", monospace;
}
