 <!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </header>

    <div class="container">
      <section id="main_content">
        <p><b>Sage the AI in Sonic 3 AIR</b> aims to merge the present with the past by making Sage, from Sonic Frontiers, into a playable character.</p>

        <p><u>Current Features</u></p>
        <ul>
            <li>Custom Sonic 3-styled sprites</li>
            <li>A soundtrack that can be tailored to one's liking</li>
            <li>An original super/hyper form</li>
            <li>Achievements exclusive to the mod, courtesy of <a href="https://github.com/fadeinside/s3air-achievements-plus">Achievements Plus</a></li>
            <li>And more...?</li>
        </ul>
        
        This mod is currently <b>in early development</b> and will not be released for a while. For updates, please keep an eye on the dedicated Twitter thread, which can be read from the beginning <a href="https://twitter.com/tipdale25/status/1603043297055875072">here.</a><br>
        We appreciate your patience!
      </section>
    </div>
  </body>
</html>